<ul class="navbar-nav">
    @if (Context.Session.GetString("UserName") != null)
    {
        <div class="login-on">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="User" asp-controller="ManageProfile" asp-action="ManageProfile"
                   title="Manage">Hello, @Context.Session.GetString("UserName")!</a>
                   <p>UserRole: @Context.Session.GetString("UserRole")</p>
                <a href=""><i class="fa-regular fa-user"></i></a>
            </li>
            <li class="nav-item">
                <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            </li>
        </div>
    }
    else
    {
        <div class="login">
            <a href=""><i class="fa-regular fa-user"></i></a>
            <p><a asp-controller="Account" asp-action="Login">Login</a></p>
            <p>/</p>
            <p><a asp-controller="Account" asp-action="Register">Register</a></p>
        </div>
    }
</ul>
