@{
    ViewData["Title"] = "Login";
}

@model BMHCSDL.Models.LoginViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="form-container" id="login-form">
            <form asp-action="Login" method="post">
                <div class="title-form">
                    <h1>Đăng Nhập</h1>
                    <p>Chào mừng bạn trở lại</p>
                </div>
                <div class="input-group">
                    <input asp-for="userId" id="userId-input" placeholder="Tên Đăng Nhập" class="form-control" />
                    <span asp-validation-for="userId" class="text-danger"></span>
                    <input asp-for="Password" id="password-input" placeholder="Mật Khẩu" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="checked-password">
                    <input type="checkbox" id="show-password" />
                    <label for="show-password">Hiển thị</label>
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    </div>
                }

                <div class="submit">
                    <button type="submit">Đăng Nhập</button>
                </div>

                <p><a href="#">Quên mật khẩu?</a></p>
                <p>Chưa có tài khoản? <a asp-controller="Account" asp-action="Register">Đăng Ký Ngay</a></p>

                <div class="social-icon">
                    <i class="fa-brands fa-google fa-lg"></i>
                    <i class="fa-brands fa-facebook fa-lg"></i>
                    <i class="fa-brands fa-github fa-lg"></i>
                    <i class="fa-brands fa-twitch fa-lg"></i>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('show-password').addEventListener('click', function () {
            var passwordInput = document.getElementById('password-input');
            passwordInput.type = passwordInput.type === 'password' ? 'text' : 'password';
        });
    </script>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
