@{
    ViewData["Title"] = "";
}
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
<div class="content-overview-profile">
        <div class="left">
            <div class="left-atribute">
                <div class="avatar">
                    <img src="https://lh3.googleusercontent.com/d/1IBkPMaHKnXHyGn-PBZJN7wfoY4jy0P8k" alt="">
                </div>
                <div class="content">
                    <p><strong>Nguyễn Trọng</strong></p>
                </div>
                <div class="btn">
                    <button>
                        Upload Image
                    </button>
                </div>
                <div class="vip-progress">
                    <p>VIP 8</p>
                    <input type="range" min="0" max="100" value="100" id="experience-range">
                    <p>VIP 9</p>
                </div>
            </div>
            <div class="Decription">
                <div class="">
                    <H1></H1>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="top-header">
                <H1>Infomation</H1>
            </div>
        </div>
    </div>