@{
    ViewData["Title"] = "OverviewDashBoard";
}
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
 <div class="dashboard-main">
            <div class="header-dashboard-main">
                <div class="title">
                    <h2>Dashboard</h2>
                </div>
                <div class="component-user-search">
                    <div class="input-place">
                        <input type="text" class="search" placeholder="Tìm Kiếm">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </div>
                    <div class="noti">
                        <i class="fa-solid fa-bell fa-lg"></i>
                        <div class="badge">3</div>
                    </div>
                    <div class="user">
                        <i class="fa-solid fa-user fa-lg"></i>
                    </div>
                </div>
            </div>
            <hr>
            <div class="nav-dashboard-main">
                <div class="top-choose-time">
                    <div class="list-choose-time">
                        <div class="choose-time active">
                            <p>Last 24 hour</p>
                        </div>
                        <div class="choose-time">
                            <p>Last weeks</p>
                        </div>
                        <div class="choose-time">
                            <p>Last month</p>
                        </div>
                        <div class="choose-time">
                            <p>Last year</p>
                        </div>
                    </div>
                    <div class="combobox-list-choose">
                        <input type="input" class="combobox-input" placeholder="Select ">
                        <div class="combobox-list">
                            <div>Option 1</div>
                            <div>Option 2</div>
                            <div>Option 3</div>
                            <div>Option 4</div>
                        </div>
                    </div>
                </div>
                <div class="body-static">
                    <div class="list-static">
                        <div class="static">
                            <div class="title-static">
                                <i class="fa-solid fa-coins"></i>
                                <h3>Total Income</h3>
                            </div>
                            <div class="data-static">
                                <p>$700.000</p>
                                <div class="compare-static">
                                    <div class="persent loss">
                                        <i class="fa-solid fa-arrow-trend-down"></i>
                                        <p>15%</p>
                                    </div>
                                    <p>vs last 7 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="static">
                            <div class="title-static">
                                <i class="fa-solid fa-people-group"></i>
                                <h3>Customer</h3>
                            </div>
                            <div class="data-static">
                                <p>70.000</p>
                                <div class="compare-static">
                                    <div class="persent profit">
                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                        <p>15%</p>
                                    </div>
                                    <p>vs last 7 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="static">
                            <div class="title-static">
                                <i class="fa-solid fa-people-group"></i>
                                <h3>Transaction</h3>
                            </div>
                            <div class="data-static">
                                <p>7000</p>
                                <div class="compare-static">
                                    <div class="persent profit">
                                        <i class="fa-solid fa-arrow-trend-up"></i>
                                        <p>15%</p>
                                    </div>
                                    <p>vs last 7 days</p>
                                </div>
                            </div>
                        </div>
                        <div class="static">
                            <div class="title-static">
                                <i class="fa-solid fa-suitcase"></i>
                                <h3>Total Product</h3>
                            </div>
                            <div class="data-static">
                                <p>45.000</p>
                                <div class="compare-static">
                                    <div class="persent loss">
                                        <i class="fa-solid fa-arrow-trend-down"></i>
                                        <p>15%</p>
                                    </div>
                                    <p>vs last 7 days</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>