@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMvcApi.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="Banner">
        <img src="https://drive.google.com/thumbnail?id=1icrnN5vBXLEVBq3Tr9OD6nHI4BNhGpEp" alt="Google Drive Image" />
    </div>
</body>

</html>