* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
a {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}

.logo a {
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  padding-left: 50px;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navbar a {
  margin: 0;
}

.navbar a {
   text-decoration: none;
   font-size: 18px;
}

.navbar a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
}

.dropbtn {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  top: 35px;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  list-style-type: none;
}

.nav {
  padding: 10px;
  font-size: 20px;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 12px 0px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 30px;
}

  .login p {
      margin: 0;
      cursor: pointer;
  }

  .login a {
      color: black;
      text-decoration: none;
      font-size: 16px;
  }

      .login a:hover {
          text-decoration: underline;
      }
/*Banner*/
.Banner {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .Banner img {
      width: 60%;
      transition: transform 2s ease;
  }

      .Banner img:hover {
          transform: scale(1.09);
      }
/*New Products*/
.new-products {
  text-align: center;
  padding: 20px;
}

  .new-products i {
      color: red;
  }

  .new-products h2 {
      color: red;
  }

.list-product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product {
  padding: 20px;
  margin: 20px;
}

.product button {
      padding: 5px 10px;
      cursor: pointer
}

.product img {
      width: 300px;
      height: 300px;
}

.new-products .btn button {
  padding: 14px 26px;
  border-radius: 30px;
  cursor: pointer;
}
/*Footer*/

.footer {
  height: 400px;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
  width: 100%;
}

.footer-header {
  width: 80%;
}

.footer hr {
  width: 80%;
  margin: auto
}

.footer .footer-contact {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

  .footer .footer-contact input {
      padding: 10px 20px;
  }

  .footer .footer-contact h2 {
      padding-right: 20px;
  }

  .footer .footer-contact button {
      margin-left: 2px;
      padding: 10px 20px;
  }

.footer .logo {
  display: flex;
  align-items: center;
}

.social-icon i {
  padding: 4px;
  margin: 8px;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  padding: 5px;
}

  .footer-content li {
      display: flex;
      list-style: none;
  }

.col-1 {
  flex: 1;
  margin: 0 10px;
}

.title {
  margin: 2px;
}

.list-content li {
  margin: 13px;
  height: 40px;
}

.list-content span {
  padding-right: 4px;
}

.btn-more {
  text-align: center;
}

  .btn-more button {
      padding: 5px;
      cursor: pointer;
      border-radius: 10px;
  }
  .login-on{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
}
.login-on li{
    list-style: none;
}
.login-on button{
    padding: 4px;
}
.Message{
  width: 100%;
  text-align: center;
}
.Message h1{
  margin:20px;
}   
